@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed; /* makes the header in fixed position when we scroll down */
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 600;   
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color:#601cfc;
}

section{
    padding: 100px 200px; /*when there are two valurs only, one is for the top-bottom and one for the right-left*/
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/backgrou.png) no-repeat; /*no repeat let the image put only one time and cannot be repeated*/
    background-size: cover; /*makes scale for the image to make it fit the place and appear in full size and not cutted*/
    background-position: center; /*put the image in the center*/
    background-attachment: fixed; /*makes the image stays fixed while scrolling down. this doesn't work properly in iphone*/
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block; /*span is an inline element so we can't apply on it margin top or margin bottom. that's why we should add display inline block*/
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3{ /*the headings are block elements so we can apply on them margin top and margin bottom */
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px; /*the space between letters*/
    margin-top: 10px;
    margin-bottom: 30;
}

.main-button{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none; /*to remove the line of the anchor tag*/
    font-size: 1.1em;
    font-weight: 600; /*ta5chin l kelma*/
    display: inline-block; /*the anchor tag is an inline element so we can't apply on ot margin top or bottom or padding*/
    padding: 0.7em; /*use em instead of px because it makes the website more responsive with diffrent devices*/
    letter-spacing: 1px;
    border-radius: 15px; /*to make th corners of the button curvy*/
    margin-bottom: 40px;
    transition: 0.7s ease; /*makes the bottom will bigger but with slow transition*/
}
.main-button:hover{
    background-color: #0a49f6;
    transform: scale(1.2); /*means the bottom will be bigger with 1.1 times from x and y*/
}
.social-icons{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}
.social-icons a:not(:last-child) {
    margin-right: 20px; /* Change the value to adjust the amount of space */
  }

.title {
    display: flex; /*flex box let us make anything in the center using justify content*/
    justify-content: center;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;    
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row; /*to make the cards next to each other horizantally*/
    flex-wrap: wrap; /*by default the value of flex wrap is noWrap,
 so we changed it to wrap. This makes the cards go below each other
 and keep the same size when the screen is smaller*/  
}

.card {
    background-color: #fff;
    width: 15;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px; /*makes space inside the element itself between the paragraph and the borders of the card*/
    margin: 15px; /*makes space between elements (cards)*/
    transition: 0.7s ease;

}
.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px; /*h3 is block element*/
}

.projects{
    background-color: #000016;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 16em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9; /*makes the color changes when the mouse selects the image*/
}
.project-image img{
    width: 100%
}
.project-info{
    padding: 0.8em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details{
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover{
    color: #601cfc;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p{
    font-size: 1.5em;
}

.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: #3a6cf4;
}
.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){    /*adjust the webpage depending on the screen size*/
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}
@media (max-width:10px){
    body{
        font-size: 10px;
    }
}